includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
    bootstrapFiles:
        - vendor/autoload.php
    treatPhpDocTypesAsCertain: false
    tmpDir: .phpstan.cache
